
<div  ng-controller="loginCtrl">
    <div class="bg-header-color text-center font-twenty page-px" >
        <div class="container replayt cotjdf">
            <a class="claf " href="javascript:;">
                中田财务收支明细
            </a>
            <a class="polat" href="javascript:;">退出</a>
        </div>
    </div>
    <div class="backtd">
        <div class="container cotjdf1">
            <ul class="ultla">
                <li><a ng-click="Accountent()" href="javascript:;">入账</a></li>
                <li class="liltd"><a href="javascript:;">报告</a></li>
                <li><a ng-click="SetUp()"  class="fousze" href="javascript:;">设置</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="text-center ">
            <ul class="ult-li">
                <li><a class="fonse" ng-click="Shareholder()" href="javascript:;">股东管理</a></li>
                <li><a ng-click="Store()" href="javascript:;">门店管理</a></li>
                <li><a ng-click="Project()" href="javascript:;">项目管理</a></li>
            </ul>
        </div>
        <div class="ptfotn">
            <input type="button" ng-click="addShare()" value="添加股东"/>
        </div>

    </div>
    <div>
        <table class="table litf">
            <tr>
                <th width="25%"></th>
                <th>姓名</th>
                <th>手机</th>
                <th>邮箱</th>
                <th>操作</th>
                <th width="25%"></th>
            </tr>
            <tr>
                <td width="25%"></td>
                <td>1</td>
                <td>45464</td>
                <td>555</td>
                <td>
                    <div>
                        <a ng-click="Sevise()" href="javascript:;">修改</a>
                        <a href="javascript:;">停用</a>
                    </div>

                </td>
                <td width="25%"></td>
            </tr>
            <tr>
                <td width="25%"></td>
                <td>1</td>
                <td>45464</td>
                <td>555</td>
                <td>
                    <div>
                        <a href="javascript:;">修改</a>
                        <a href="javascript:;">停用</a>
                    </div>

                </td>
                <td width="25%"></td>
            </tr>
        </table>

    </div>



</div>
