
<div  ng-controller="loginCtrlAccountedFor">
    <div class="bg-header-color text-center font-twenty page-px" >
        <div class="container replayt cotjdf">
            <a class="claf " href="javascript:;">
                中田财务收支明细
            </a>
            <a class="polat" href="javascript:;">退出</a>
        </div>
    </div>
    <div class="backtd">
        <div class="container cotjdf1">
            <ul class="ultla">
                <li><a ng-click="Accountent()" class="fousze"  href="javascript:;">入账</a></li>
                <li ng-click="Resport()" class="liltd"><a href="javascript:;">报告</a></li>
                <li><a ng-click="SetUp()"  href="javascript:;">设置</a></li>
            </ul>
        </div>
    </div>
    <div class="container">

        <div class="ptfotn martdgih">
            <input ng-click="Headquarters()" type="button" value="添加总店入账"/>
            <input ng-click="StoresAccountedFor()" type="button" value="添加分店入账"/>
        </div>

    </div>
    <div>
        <table class="table litf">
            <tr>
                <th width="20%"></th>
                <th>序号</th>
                <th>门店</th>
                <th>股东</th>
                <th>时间</th>
                <th>门店收入</th>
                <th>门店支出</th>
                <th>操作</th>
                <th width="26.5%"></th>
            </tr>
            <tr>
                <td ></td>
                <td>1</td>
                <td>长寿路</td>
                <td>田万桂</td>
                <td>2015年5月</td>
                <td>156025元</td>
                <td>11000元</td>


                <td>
                    <div>
                        <a href="javascript:;">修改</a>
                        <a href="javascript:;">停用</a>
                    </div>

                </td>
                <td ></td>
            </tr>
            <tr>
                <td ></td>
                <td>1</td>
                <td>长寿路</td>
                <td>田万桂</td>
                <td>2015年5月</td>
                <td>156025元</td>
                <td>11000元</td>
                <td>
                    <div>
                        <a href="javascript:;">修改</a>
                        <a href="javascript:;">停用</a>
                    </div>

                </td>
                <td ></td>
            </tr>
        </table>

    </div>



</div>
